pip-tools  # For dependency pinning/management.
pylint     # For.... Linting?
pytest     # For testing!
pytest-cov # For getting copverage of testing!
tox        # For testing in more versions!
tox-pyenv  # For getting python versions from pyenv.
-c requirements.txt
